mat-toolbar 
  h1.mat-headline Tracker
mat-sidenav-container
  mat-sidenav.mat-sidebar(position="start", mode="side", opened="true", disableClose) 
    span Start
    h1 Boom
    h2 Explosion
  mat-sidenav-content(position="end") 
    span Main
    h1 Bang
