mat-toolbar(color="primary")
  mat-toolbar-row
    span TNT
    span.example-spacer

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
    a(mat-button [routerLink]="['tracker']") TRACKER

    span.fill-space

    button(mat-button)
      span Hugh Mann&nbsp;&nbsp;
      i.material-icons account_circle

router-outlet
