@import '~@angular/material/theming';
/* BLUE */

$color-primary-0: #1F4E7B;	// Main Primary color */
$color-primary-1: #557DA3;
$color-primary-2: #36628C;
$color-primary-3: #103B65;
$color-primary-4: #05284A;
$rgba-primary-0: rgba( 31, 78,123,1);	// Main Primary color */
$rgba-primary-1: rgba( 85,125,163,1);
$rgba-primary-2: rgba( 54, 98,140,1);
$rgba-primary-3: rgba( 16, 59,101,1);
$rgba-primary-4: rgba(  5, 40, 74,1);


/* Blue Dark Pastel */

$color-primary-dark-pastel-0: #0C3862;	/* Main Primary color */
$color-primary-dark-pastel-1: #0C5398;
$color-primary-dark-pastel-2: #104579;
$color-primary-dark-pastel-3: #052544;
$color-primary-dark-pastel-4: #031628;
$rgba-primary-0: rgba( 12, 56, 98,1);	/* Main Primary color */
$rgba-primary-1: rgba( 12, 83,152,1);
$rgba-primary-2: rgba( 16, 69,121,1);
$rgba-primary-3: rgba(  5, 37, 68,1);
$rgba-primary-4: rgba(  3, 22, 40,1);

/* Blue Light Pastel */

$color-primary-light-pastel-0: #356089;	// Main Primary color */
$color-primary-light-pastel-1: #80A1C1;
$color-primary-light-pastel-2: #51799F;
$color-primary-light-pastel-3: #204B75;
$color-primary-light-pastel-4: #0E365D;
$rgba-primary-0: rgba( 53, 96,137,1);	// Main Primary color */
$rgba-primary-1: rgba(128,161,193,1);
$rgba-primary-2: rgba( 81,121,159,1);
$rgba-primary-3: rgba( 32, 75,117,1);
$rgba-primary-4: rgba( 14, 54, 93,1);

/* Blue LIghter Pale Pastel */

// $color-primary-0: #637D96;	// Main Primary color */
// $color-primary-1: #A3B1BF;
// $color-primary-2: #7F93A6;
// $color-primary-3: #486886;
// $color-primary-4: #2E5274;

// $rgba-primary-0: rgba( 99,125,150,1);	// Main Primary color */
// $rgba-primary-1: rgba(163,177,191,1);
// $rgba-primary-2: rgba(127,147,166,1);
// $rgba-primary-3: rgba( 72,104,134,1);
// $rgba-primary-4: rgba( 46, 82,116,1);

/* *******************************  ******************************* */
/* ORANGE */

$color-secondary-0: #E88B4F;	// Main SECONDARY color */
$color-secondary-1: #FFC8A4;
$color-secondary-2: #FFAE79;
$color-secondary-3: #D56C27;
$color-secondary-4: #A64D12;
$rgba-secondary-0: rgba(232,139, 79,1);	// Main SECONDARY color */
$rgba-secondary-1: rgba(255,200,164,1);
$rgba-secondary-2: rgba(255,174,121,1);
$rgba-secondary-3: rgba(213,108, 39,1);
$rgba-secondary-4: rgba(166, 77, 18,1);


/* Orange Dark */


// $color-primary-dark-0: #672800;	// Main Primary color */
// $color-primary-dark-1: #411A02;
// $color-primary-dark-2: #4F1F00;
// $color-primary-dark-3: #9B3D00;
// $color-primary-dark-4: #D35300;
// $rgba-primary-0: rgba(103, 40,  0,1);	// Main Primary color */
// $rgba-primary-1: rgba( 65, 26,  2,1);
// $rgba-primary-2: rgba( 79, 31,  0,1);
// $rgba-primary-3: rgba(155, 61,  0,1);
// $rgba-primary-4: rgba(211, 83,  0,1);

/* Orange Dark Pastel */

$color-secondary-dark-pastel-0: #3D291D;	// Main secondary color */
$color-secondary-dark-pastel-1: #805B43;
$color-secondary-dark-pastel-2: #5E412F;
$color-secondary-dark-pastel-3: #54321C;
$color-secondary-dark-pastel-4: #603315;
$rgba-secondary-0: rgba( 61, 41, 29,1);	// Main secondary color */
$rgba-secondary-1: rgba(128, 91, 67,1);
$rgba-secondary-2: rgba( 94, 65, 47,1);
$rgba-secondary-3: rgba( 84, 50, 28,1);
$rgba-secondary-4: rgba( 96, 51, 21,1);

/* ORange Pale Pastel */

$color-secondary-light-pastel-0: #AD856B;	// Main secondary color */
$color-secondary-light-pastel-1: #FBE3D4;
$color-secondary-light-pastel-2: #D0AE98;
$color-secondary-light-pastel-3: #8A634A;
$color-secondary-light-pastel-4: #724629;

$rgba-secondary-0: rgba(173,133,107,1);	// Main secondary color */
$rgba-secondary-1: rgba(251,227,212,1);
$rgba-secondary-2: rgba(208,174,152,1);
$rgba-secondary-3: rgba(138, 99, 74,1);
$rgba-secondary-4: rgba(114, 70, 41,1);

/* Orange Paler Pastel */


// $color-primary-0: #E7B392;	// Main Primary color */
// $color-primary-1: #FFE7D7;
// $color-primary-2: #FFD7BE;
// $color-primary-3: #CE9068;
// $color-primary-4: #B26C3F;

// $rgba-primary-0: rgba(231,179,146,1);	// Main Primary color */
// $rgba-primary-1: rgba(255,231,215,1);
// $rgba-primary-2: rgba(255,215,190,1);
// $rgba-primary-3: rgba(206,144,104,1);
// $rgba-primary-4: rgba(178,108, 63,1);


// $primary-color-map: (
//   100: #557DA3,
//   500: #1F4E7B,
//   700: #05284A
// );

// $secondary-color-map: (
//   100: #E88B4F,
//   500: #E88B4F,
//   700: #E88B4F
// );

$primary-color-map: (
  50: $color-primary-light-pastel-1,
  100: $color-primary-light-pastel-0,
  200: $color-primary-light-pastel-3,
  300: $color-primary-1,
  400: $color-primary-2,
  500: $color-primary-0,
  600: $color-primary-3,
  700: $color-primary-4,
  800: $color-primary-dark-pastel-1,
  900: $color-primary-dark-pastel-2,
  A100: $color-primary-1,
  A200: $color-primary-0,
  A400: $color-primary-3,
  A700: $color-primary-4,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$secondary-color-map: (
  50: $color-secondary-light-pastel-1,
  100: $color-secondary-light-pastel-0,
  200: $color-secondary-light-pastel-3,
  300: $color-secondary-1,
  400: $color-secondary-2,
  500: $color-secondary-0,
  600: $color-secondary-3,
  700: $color-secondary-4,
  800: $color-secondary-dark-pastel-1,
  900: $color-secondary-dark-pastel-2,
  A100: $color-secondary-1,
  A200: $color-secondary-0,
  A400: $color-secondary-3,
  A700: $color-secondary-4,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);