

$color-primary-lightest: #557DA3;
$color-primary-lighter: #36628C;
$color-primary-0: #1F4E7B;  // BLUE Primary color */
$color-primary-darker: #103B65;
$color-primary-darkest: #05284A;


$color-secondary-lightest: #FFC8A4;
$color-secondary-lighter: #FFAE79;
$color-secondary-0: #E88B4F;  // ORANGE  SECONDARY color */
$color-secondary-darker: #D56C27;
$color-secondary-darkest: #A64D12;


/* Blue Dark Pastel */

$color-primary-dark-pastel-1: #0C5398;
$color-primary-dark-pastel-2: #104579;
$color-primary-dark-pastel-0: #0C3862;  /* Main Primary color */
$color-primary-dark-pastel-3: #052544;
$color-primary-dark-pastel-4: #031628;

/* Blue Light Pastel */

$color-primary-light-pastel-lightest: #80A1C1;
$color-primary-light-pastel-lighter: #51799F;
$color-primary-light-pastel-0: #356089; // Main Primary color */
$color-primary-light-pastel-darker: #204B75;
$color-primary-light-pastel-darkest: #0E365D;

/* ORANGE Dark Pastel */

$color-secondary-dark-pastel-lightest: #805B43;
$color-secondary-dark-pastel-lighter: #5E412F;
$color-secondary-dark-pastel-darkest: #603315;
$color-secondary-dark-pastel-darker: #54321C;
$color-secondary-dark-pastel-0: #3D291D; 



/* ORANGE Pale Pastel */

$color-secondary-light-pastel-lightest: #FBE3D4;
$color-secondary-light-pastel-lighter: #D0AE98;
$color-secondary-light-pastel-0: #AD856B; // Main secondary color */
$color-secondary-light-pastel-darker: #8A634A;
$color-secondary-light-pastel-darkest: #724629;
