/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/tnt-theme.scss";

/* *******************************  ******************************* */
/* BLUE */

$color-primary-0: #1F4E7B;	// Main Primary color */
$color-primary-1: #557DA3;
$color-primary-2: #36628C;
$color-primary-3: #103B65;
$color-primary-4: #05284A;
$rgba-primary-0: rgba( 31, 78,123,1);	// Main Primary color */
$rgba-primary-1: rgba( 85,125,163,1);
$rgba-primary-2: rgba( 54, 98,140,1);
$rgba-primary-3: rgba( 16, 59,101,1);
$rgba-primary-4: rgba(  5, 40, 74,1);


/* Blue Dark Pastel */

.color-primary-0 { color: #0C3862 }	/* Main Primary color */
.color-primary-1 { color: #0C5398 }
.color-primary-2 { color: #104579 }
.color-primary-3 { color: #052544 }
.color-primary-4 { color: #031628 }
.rgba-primary-0 { color: rgba( 12, 56, 98,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba( 12, 83,152,1) }
.rgba-primary-2 { color: rgba( 16, 69,121,1) }
.rgba-primary-3 { color: rgba(  5, 37, 68,1) }
.rgba-primary-4 { color: rgba(  3, 22, 40,1) }

/* Blue Light Pastel */

$color-primary-0: #356089;	// Main Primary color */
$color-primary-1: #80A1C1;
$color-primary-2: #51799F;
$color-primary-3: #204B75;
$color-primary-4: #0E365D;
$rgba-primary-0: rgba( 53, 96,137,1);	// Main Primary color */
$rgba-primary-1: rgba(128,161,193,1);
$rgba-primary-2: rgba( 81,121,159,1);
$rgba-primary-3: rgba( 32, 75,117,1);
$rgba-primary-4: rgba( 14, 54, 93,1);

/* Blue LIghter Pale Pastel */

$color-primary-0: #637D96;	// Main Primary color */
$color-primary-1: #A3B1BF;
$color-primary-2: #7F93A6;
$color-primary-3: #486886;
$color-primary-4: #2E5274;

$rgba-primary-0: rgba( 99,125,150,1);	// Main Primary color */
$rgba-primary-1: rgba(163,177,191,1);
$rgba-primary-2: rgba(127,147,166,1);
$rgba-primary-3: rgba( 72,104,134,1);
$rgba-primary-4: rgba( 46, 82,116,1);

/* *******************************  ******************************* */
/* ORANGE */

$color-secondary-0: #E88B4F;	// Main SECONDARY color */
$color-secondary-1: #FFC8A4;
$color-secondary-2: #FFAE79;
$color-secondary-3: #D56C27;
$color-secondary-4: #A64D12;
$rgba-secondary-0: rgba(232,139, 79,1);	// Main SECONDARY color */
$rgba-secondary-1: rgba(255,200,164,1);
$rgba-secondary-2: rgba(255,174,121,1);
$rgba-secondary-3: rgba(213,108, 39,1);
$rgba-secondary-4: rgba(166, 77, 18,1);


/* Orange Dark */


$color-primary-0: #672800;	// Main Primary color */
$color-primary-1: #411A02;
$color-primary-2: #4F1F00;
$color-primary-3: #9B3D00;
$color-primary-4: #D35300;
$rgba-primary-0: rgba(103, 40,  0,1);	// Main Primary color */
$rgba-primary-1: rgba( 65, 26,  2,1);
$rgba-primary-2: rgba( 79, 31,  0,1);
$rgba-primary-3: rgba(155, 61,  0,1);
$rgba-primary-4: rgba(211, 83,  0,1);

/* Orange Dark Pastel */

$color-primary-0: #3D291D;	// Main Primary color */
$color-primary-1: #805B43;
$color-primary-2: #5E412F;
$color-primary-3: #54321C;
$color-primary-4: #603315;
$rgba-primary-0: rgba( 61, 41, 29,1);	// Main Primary color */
$rgba-primary-1: rgba(128, 91, 67,1);
$rgba-primary-2: rgba( 94, 65, 47,1);
$rgba-primary-3: rgba( 84, 50, 28,1);
$rgba-primary-4: rgba( 96, 51, 21,1);

/* ORange Pale Pastel */

$color-primary-0: #AD856B;	// Main Primary color */
$color-primary-1: #FBE3D4;
$color-primary-2: #D0AE98;
$color-primary-3: #8A634A;
$color-primary-4: #724629;

$rgba-primary-0: rgba(173,133,107,1);	// Main Primary color */
$rgba-primary-1: rgba(251,227,212,1);
$rgba-primary-2: rgba(208,174,152,1);
$rgba-primary-3: rgba(138, 99, 74,1);
$rgba-primary-4: rgba(114, 70, 41,1);

/* Orange Paler Pastel */


$color-primary-0: #E7B392;	// Main Primary color */
$color-primary-1: #FFE7D7;
$color-primary-2: #FFD7BE;
$color-primary-3: #CE9068;
$color-primary-4: #B26C3F;

$rgba-primary-0: rgba(231,179,146,1);	// Main Primary color */
$rgba-primary-1: rgba(255,231,215,1);
$rgba-primary-2: rgba(255,215,190,1);
$rgba-primary-3: rgba(206,144,104,1);
$rgba-primary-4: rgba(178,108, 63,1);
